
.Signup {
  display: flex;
  /* flex-direction: column; */

}

.Signup > h1 {
  margin: 0;
  padding: 0;
}

.Signup > p {
  margin: 0;
  padding: 0;
}
/* .Signup > title {
  display: flex;
  margin-bottom: 0;
  padding: 0;
} */
